.effect-wrap .effect {
  position: absolute;
}

.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #6d2de5;
  top: 30%;
  right: 10%;
  animation: spin 6s linear infinite;
}

.effect-2 {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 88%;
  left: 20%;
  animation: leftBounce 2s ease-in-out infinite;
}

.effect-2 div {
  height: 3px;
  width: 3px;
  background-color: #ff9c07;
  margin: 0 5px 6px;
}

.effect-3 {
  height: 50px;
  width: 50px;
  left: 7%;
  top: 20%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 10s linear infinite;
}

.effect-3 div {
  width: 1px;
  background-color: rgb(3, 247, 255);
}

.effect-4 {
  width: 116px;
  height: 60px;
  aspect-ratio: 1.8;
  background-color: skyblue;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  left: 40%;
  top: 10px;
  animation: leftBounce 7s ease-in-out infinite;
}

.effect-5 {
  width: 0;
  height: 0;
  top: 70%;
  left: 80%;
  border-top: 25px solid transparent;
  border-left: 50px solid #16c000;
  border-bottom: 25px solid transparent;
  transform: rotate(0deg);
  transition: 0.4s;
}

.effect-5:hover {
  transform: rotate(130deg);
  transition: 0.4s;
}

.effect-6 {
  width: 30px;
  height: 30px;
  border: 4px solid #6d2de5;
  top: 30%;
  right: 10%;
  animation: spin 4s linear infinite;
}

.effect-7 {
  width: 10px;
  height: 40px;
  background-color: #e52db7;
  top: 60%;
  left: 50%;
  animation: spin 0.9s linear infinite;
}

@media (max-width:970px) {
  .effect-4{
    left: 35%;
  }
  
}

@media (max-width:890px) {
  .effect-4{
    left: 27%;
  }
}

@media (max-width:800px) {
  .effect-4{
    left: 24%;
  }

  .effect-7{
    display: none;
  }
}

@media (max-width:500px) {
  .effect-5{
    display: none;
  }

  .effect-1, .effect-6{
    top: 48%;
  }
}